<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.autstudent.autschedular">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AUTschedular"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="Ve94wcToUppCg2OZ8esePj8tkJCPtl1Aso6XsIq0" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="lQ6wdhCmMfiF5TKhZoREcpL91AA9l78obQJW0sNb" />

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PaperDescription"
            android:label="@string/title_activity_paper_description"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.autstudent.autschedular.MainActivity" />
        </activity>
        <activity
            android:name=".AddActivity"
            android:label="@string/title_activity_add"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.autstudent.autschedular.MainActivity" />
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_edit"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.autstudent.autschedular.MainActivity" />
        </activity>
        <activity
            android:name=".Repeat"
            android:label="@string/title_activity_repeat"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
